<!DOCTYPE html>
<html>
<head>
    <title>List of popular movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-4">List of popular movies</h1>
        
        {# Search form #}
        <form action="{{ path('movie_list') }}" method="GET" class="mb-3">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Search movies">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        
        <ul class="list-group">
            {% for movie in movies %}
                <li class="list-group-item">
                    <strong>Title:</strong> {{ movie.getTitle() }}<br>
                    
                    <a href="{{ path('movie_detail', {'id': movie.getId()}) }}">View Details</a>
                </li>
            {% endfor %}
        </ul>
        
        {# Pagination #}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if currentPage == 1 %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('movie_list', {'page': currentPage - 1}) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <span class="page-link">{{ currentPage }}</span>
                </li>
                <li class="page-item {% if movies|length < limit %}disabled{% endif %}">
                    <a class="page-link" href="{{ path('movie_list', {'page': currentPage + 1}) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
